@use '../../scss/' as *;

.Testimonials {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;

    @include mobile {
        flex-direction: column;
    }
}

.left-t {
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    color: white;

    @include mobile {
        text-align: center;
        gap: 1.5rem;

        :nth-child(5) {
            font-size: 0.7rem;
        }
    }

    :nth-child(1) {
        color: var(--orange);
        font-weight: bold;
    }

    .stroke-text {
        font-size: 3.5rem;
        font-weight: bold;
        position: relative;
        bottom: -2rem;

        @include mobile {
            font-size: 2.5rem;
        }
    }

    :nth-child(3) {
        font-size: 3rem;
        font-weight: bold;

        @include mobile {
            font-size: 2rem;
        }
    }

    :nth-child(4) {
        text-align: justify;
        letter-spacing: 2px;
        line-height: 40px;

        @include mobile {
            text-align: start;
            letter-spacing: 0.5px;
            line-height: 20px;
            font-size: 0.8rem;
        }
    }
}

.right-t {
    flex: 1;
    position: relative;

    > img {
        position: absolute;
        width: 17rem;
        height: 20rem;
        object-fit: cover;
        right: 6rem;
        top: 2rem;

        @include mobile {
            position: relative;
            top: 3rem;
            right: 0;
            width: 16rem;
        }
    }

    > :nth-child(1) {
        position: absolute;
        width: 17rem;
        height: 20rem;
        border: 2px solid var(--orange);
        background-color: transparent;
        right: 7rem;
        top: 1rem;

        @include mobile {
            display: none;
        }
    }

    > :nth-child(2) {
        position: absolute;
        width: 17rem;
        height: 20rem;
        background: var(--planCard);
        right: 4rem;
        top: 4rem;

        @include mobile {
            display: none;
        }
    }

    .arrows {
        display: flex;
        position: absolute;
        bottom: 0;
        gap: 1rem;

        @include mobile {
            position: relative;
            top: -20rem;
            left: 6rem;
            gap: 0.5rem;
        }

        img {
            width: 3rem;
            cursor: pointer;
            @include mobile{
                width: 1.5rem;
            }
        }
    }
}
