@use '../../scss/' as *;

.Programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;

    .programs-header {
        display: flex;
        gap: 5rem;
        font-weight: bold;
        font-size: 3rem;
        color: white;
        justify-content: center;
        font-style: italic;

        .stroke-text{
            font-size: 3.5rem;
        }
    }

    .programs-categories {
        display: flex;
        gap: 1rem;
    }
}

.category {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2rem;
    gap: 1rem;
    color: white;
    justify-content: space-between;

    :nth-child(1) {
        width: 2rem;
        height: 2rem;
        fill: white;
    }

    :nth-child(2) {
        font-size: 1.5rem;
        font-weight: bold;
    }

    :nth-child(3) {
        font-size: 1rem;
        line-height: 25px;
    }

    .join-now {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 5px 15px;
        border-radius: 10px;
        background: var(--planCard);

        span {
            width: 7rem;
            font-size: 1.4rem;
            font-weight: bold;
        }

        img {
            width: 1.1rem;
        }
    }
}

.category:hover {
    background: var(--planCard);
    cursor: pointer;

    .join-now{
        background: gray;
    }
}
